.gradle


# INTELLIJ IDEA IGNORES
*.iml
*.ipr
*.iws
.idea


build/
logs/
configs/
target/
node_modules/
bower_components/

bin/
obj/
packages/

.settings
.classpath
.project

*.db
*.suo
*.user
*.cache
*.log
*.orig
*.Publish.xml
*.pubxml
*nsb_log_*
CommonAssemblyInfo.cs